#box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}
#ball{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 130px;
}