.container{
    position: relative;
    width: 400px;
}
img{
    width: 100%;
    height: auto;
}
#text{
    position: absolute;
    top: 50%;
    left: -200px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}