body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #f4f4f9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

.container{
    background-color: white; 
    padding: 2em;
    border-radius: 15px; 
    width: 350px;
} 

.input{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px;
}

.input input{ 
    width: 80px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    text-align: center;
    margin: 1em;
    padding: 1em; 
}

.op{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 1em;
}

.op button{
    background-color: #007bff; 
    color: white;
    border: none; 
    border-radius: 8px; 
    font-size: 1.2em; 
    font-weight: bold;
    flex: 1;
    padding: 0.5em 1em; 
}

.result{
    display: flex;
    justify-content: center; 
    color: #333;
    margin-top: 20px; 
    font-size: 1.5em;
}